<div id="<%= dom_id article %>">
  <ul class="list-unstyled container">
    <li class="d-flex justify-content-between border p-2 rounded">
      <%= article.title %>
      <%= link_to 'details', article_path(article), class:'btn btn-primary' %>
    </li>
  </ul>

</div>
