<section class=" container m-5">
  <div class="container mx-5">
    <h1 class="text-center text-black-50 mb-2">New article</h1>

    <%= render "form", article: @article %>

    <br>

    <div>
      <%= link_to "Back to articles", articles_path, class: "btn btn-primary" %>
    </div>
  </div>
</section>